
body {
    font-family: 'Popins', sans-serif;
    background-color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#task-container {
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    transition: 1.5s all linear;
}

#task-container:hover {
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 200px #03e9f4;
    animation: change 3s linear infinite;
    height: 500px;
    background-color: #fff;
}

h1 {
    color: #03e9f4;
}

#task-container:hover h1 {
    animation: changetext 3s linear infinite;
}

/* Add styles for the close (X) button */
.close-btn {
    background-color: transparent;
    border: none;
    color: #03e9f4;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}


@keyframes changetext {
    0%, 100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes change {
    0% {
        border: 5px solid #03e9f4;
        filter: hue-rotate(0deg);
    }

    25% {
        border: 5px solid #03e9f4;
        filter: hue-rotate(50deg);
    }


    50% {
        border: 5px solid #03e9f4;
        filter: hue-rotate(100deg);
    }

    75% {
        border: 5px solid #03e9f4;
        filter: hue-rotate(150deg);
    }

    100% {
        border: 5px solid #03e9f4;
        filter: hue-rotate(360deg);
    }
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #03e9f4;
}

.completed {
    text-decoration: underline;
    background-color: #03e9f4;
    cursor: pointer;
}

span {
    color: #010101;
    font-size: 20px;
    margin-left: 10px;
}

.task-img {
    margin-left: 130px;
    text-align: center;
}
